<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p1_ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.P1_UI">
        <activity android:name=".Ej09Activity"></activity>
        <activity android:name=".Ej11Activity" />
        <activity android:name=".Ej10Activity" />
        <activity android:name=".Ej08Activity" />
        <activity android:name=".Ej07Activity" />
        <activity android:name=".Ej06Activity" />
        <activity android:name=".Ej05Activity" />
        <activity android:name=".Ej04Activity" />
        <activity android:name=".Ej03Activity" />
        <activity android:name=".Ej02Activity" />
        <activity android:name=".Ej01Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>